# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Enable tab-switcher': 'tab-switcher:toggle'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'tab-switcher'
      'submenu': [
        { 'label': 'Toggle', 'command': 'tab-switcher:toggle' }
      ]
    ]
  }
]
