atom-panel.modal.tab-switcher-panel {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  width: initial;

  margin: auto;
  padding: 0;
  border: 0;

  text-align: center;
  background-color: transparent;
}

ol.tab-switcher-tab-list {
  display: inline-block;
  margin: 0;
  padding: 1em 0;
  text-align: left;
  list-style: none;

  background-color: rgba(32, 33, 35, 0.7);
  border-radius: 1em;
  font-size: 150%;
  color: white;

  .icon {
    margin: 0em 0.5em 0em 1em;
  }

  .sublabel {
    font-size: 75%;
    color: #bbb;
    margin: 0 1em;
  }

  li.selected {
    background: linear-gradient(to bottom, #3380db, #105db8);
    border-top: solid 1px white;
    border-bottom: solid 1px white;
  }

  li:not(.selected) {
    border-top: solid 2px rgba(0, 0, 0, 0);
    border-bottom: solid 2px rgba(0, 0, 0, 0);
  }
}
